*.log

!*.yaml
!.gitignore
!*.md

## Ignore folders.
.storage
.cloud
.google.token
.c9

## Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
known_devices.yaml
secrets.yaml

## Others
._includes
.homekit.state
.spotify-token-cache
.vscode/
appdaemon/compiled
appdaemon/dashboards/
home-assistant_v2.db
zigbee.db
tts/
node-red/
webostv.conf
notebooks/
airsonos.xml

